/* Overflow corresponding to the dropdown elements in the menu */

.shiny-split-layout>div { overflow:visible; };

/* Size of the popups */

.modal-lg {
  height: 80vh;
}

.modal-body {
  height: 75vh;
}

/* 'About' landing page center centered */

.navbar-brand {
  font-weight: bold;
}
  
  
div.dt-buttons {
  clear: both !important;
}



